	<div id="container" class="template-aboutus"> 
		<div id="content" role="main" class="layout"> 
 
							
									
											<h1 class="entry-title supporting"><%= @page.title %></h1> 
						<div class="supporting x6"> 
							<p> 
								Two pharma researchers who wanted to become more involved in research: to spend more time with clients and respondents (and less time in meetings).							</p> 
						</div> 
										
				
				<div id="post-41" class="post-41 page type-page status-publish format-standard hentry col x6"> 
 
					<div class="entry-content"> 
						
						<p>We’ve done a lot of research over the years, but we’ve also worked out­side research, as a tour-guide; a deck-hand; in ski resorts and of course, at well-known <span class="caps">UK</span> mar­ket research agen­cies. We’re inter­ested in new approaches to research, about engag­ing our clients in what we do and in deliv­er­ing well designed reports and pre­sen­ta­tions that impact client teams.</p> 
<h2>HEADING NUMBER 2</h2>
<p><%= @page.body %></p>

<h2><span class="caps">FRESH</span> <span class="caps">APPROACH</span></h2>

<p>We’re new.  And yet expe­ri­enced at the same time…</p> 
<p>You’ll find us talk­ing about our approach and phi­los­o­phy to mar­ket research and not our years of expe­ri­ence in dif­fer­ent ther­apy areas nor how many coun­tries we’ve recently under­taken research in. We’ll make the most of the respon­dents we talk to – above and beyond the topic guide. And we’ll do our utmost to ensure that we eval­u­ate the best new approaches, rec­om­mend dif­fer­ent ways of doing what we’ve done many times before and that we chal­lenge our clients.</p> 

<h2><span class="caps">OPEN</span> <span class="caps">MINDED</span></h2> 
<p>There’s more than one way to skin a cat.</p> 
<p>And there’s more than one way to address a research issue – no mat­ter how sim­i­lar it is to oth­ers that have pre­ceded it. You’ll not hear us say: ‘That’s the approach we use here’.  We’re open to new approaches and tech­niques that address old (and new) prob­lems. We con­sider all angles and approaches – so long as they work.</p> 

<h2><span class="caps">OUR</span> <span class="caps">BEGINNINGS</span></h2> 
<p><img class="alignnone size-template_a wp-image-269" title="Blandfords+Cafe" src="http://brookspumfreyresearch.co.uk/wp/wp-content/uploads/2011/05/Blandfords+Cafe-633x347.jpg" alt="" width="633" height="347" /><br /> 
Talk­ing and ask­ing ques­tions.  Won­der­ing if we could cre­ate a bet­ter pharma mar­ket research agency.  Think­ing how we might do the lit­tle things bet­ter. We spent many hours at Bland­fords in cen­tral Lon­don dis­cussing our plans.  And we rec­om­mend the mixed omelette and chips.</p> 
						
												
					</div><!-- .entry-content --> 
				</div><!-- #post-## --> 
				
				
								
				<div class="col x3"> 
																<div id="user-2" class="user clearfix"> 
							<div class="avatar"> 
								<span></span> 
								<img alt='' src='http://0.gravatar.com/avatar/a7be269d937ae3f701f0352141c453ed?s=114&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D114&amp;r=G' class='avatar avatar-114 photo' height='114' width='114' />							</div> 
							<h3> 
								Bridget Pumfrey							</h3> 
							<p> 
															</p> 
						</div> 
											<div id="user-3" class="user clearfix"> 
							<div class="avatar"> 
								<span></span> 
								<img alt='' src='http://1.gravatar.com/avatar/b579457ddb3f5d86e273e4f8eac76655?s=114&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D114&amp;r=G' class='avatar avatar-114 photo' height='114' width='114' />							</div> 
							<h3> 
								Matt Brooks							</h3> 
							<p> 
															</p> 
						</div> 
									</div> 
 
			
		</div><!-- #content --> 
		
									
	</div><!-- #container --> 
 
