<!DOCTYPE html>
<html>
<head>
  <title>Chameleon</title>
  <%= stylesheet_link_tag    "practical" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="page page-id-41 page-template page-template-template-aboutus-php">

<div id="wrapper" class="hfeed"> 
	<div id="header" class="clearfix"> 
		<div id="branding" role="banner"> 
						<div id="site-title"> 
				<a href="http://brookspumfreyresearch.co.uk/" title="Brooks Pumfrey Research" rel="home">Brooks Pumfrey Research</a> 
			</div> 
			<div id="site-description"></div> 
 
		</div><!-- #branding --> 
 
		<div id="access" role="navigation"> 
		  			<div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div> 
						<div class="menu"><ul id="menu-primary-menu" class="menu"><li id="menu-item-235" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-235"><a href="http://brookspumfreyresearch.co.uk/our-aims/">Our Aims</a></li> 
<li id="menu-item-259" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-259"><a href="http://brookspumfreyresearch.co.uk/what-we-think/">What We Think</a></li> 
<li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-41 current_page_item menu-item-53"><a href="http://brookspumfreyresearch.co.uk/about-us/">About Us</a></li> 
<li id="menu-item-59" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-59"><a href="http://brookspumfreyresearch.co.uk/category/blog/">Blog</a></li> 
<li id="menu-item-51" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51"><a href="http://brookspumfreyresearch.co.uk/contact-us/">Contact Us</a></li> 
<li id="menu-item-237" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-237"><a title="Client login" href="https://brookspumfreyresearch.co.uk/client/" onclick="pageTracker._trackPageview('/outgoing/brookspumfreyresearch.co.uk/client/?referer=http%3A%2F%2Fbrookspumfreyresearch.co.uk%2Fwhat-we-think%2F');">Client login</a></li> 
</ul></div>		</div><!-- #access --> 
	</div><!-- #header --> 


<%= yield %>



	<div id="footer" role="contentinfo"> 
		
				<div id="colophon" class="clearfix"> 
			
 
			<div id="footer-widget-area" class="layout all-pages" role="complementary"> 
		
				<div id="fifth" class="widget-area clearfix"> 
					<ul class="xoxo"> 
						<li id="text-3" class="widget-container widget_text"><h3 class="widget-title"><span class="caps">BPR</span></h3>			<div class="textwidget">A refresh­ingly new pharma mar­ket research
agency</div> 
		</li>					</ul> 
				</div><!-- #fourth .widget-area --> 
 
			</div><!-- #footer-widget-area --> 
		</div><!-- #colophon --> 
				
		<div id="site-info" class="clearfix"> 
			<div class="menu"><ul id="menu-footer-menu" class="menu"><li id="menu-item-96" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-96"><a href="http://brookspumfreyresearch.co.uk/">Home</a></li> 
<li id="menu-item-261" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-261"><a href="http://brookspumfreyresearch.co.uk/our-aims/">Our Aims</a></li> 
<li id="menu-item-260" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-260"><a href="http://brookspumfreyresearch.co.uk/what-we-think/">What We Think</a></li> 
<li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-41 current_page_item menu-item-56"><a href="http://brookspumfreyresearch.co.uk/about-us/">About Us</a></li> 
<li id="menu-item-61" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-61"><a href="http://brookspumfreyresearch.co.uk/category/blog/">Blog</a></li> 
<li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="http://brookspumfreyresearch.co.uk/contact-us/">Contact Us</a></li> 
<li id="menu-item-236" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-236"><a href="https://brookspumfreyresearch.co.uk/client/" onclick="pageTracker._trackPageview('/outgoing/brookspumfreyresearch.co.uk/client/?referer=http%3A%2F%2Fbrookspumfreyresearch.co.uk%2Fwhat-we-think%2F');">Client Login</a></li> 
</ul></div>			<p class="copyright"> 
				&copy; 2011 Brooks Pumfrey Research			</p> 
			
		</div><!-- #site-info --> 
	</div><!-- #footer --> 
 
</div><!-- #wrapper --> 
 



</body>
</html>
